form{
  display: flex;
  width: 550px;
  margin-top: 10px;
  font-size: 1.2rem;
  height: 30px;
  justify-content: space-between;
  margin-bottom: 20px;
}

app-task-input{
  width: 80%;
}

button{
  width: 15%;
  background: #fff;
  color: #333;
}

.validation{
  color: red;
}



