form {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.add-form {
  margin-top: 30px;
  margin-bottom: 40px;
  background-color: white;
  width: 900px;
  border: solid 1px #ccc;
  height: 100px;
}

.add-form-wrapper {
  display: flex;
  justify-content: center;
}

.input-wrapper {
  display: flex;
  justify-content: space-around;
}


button {
  margin-top: 10px;
  margin-right: 25px;
  border: #c9ece6 solid 1px;
  border-radius: 50%;

}




.name-wrapper {
  margin-left: 20px;
  margin-bottom: 3px;
}



textarea {
  max-width: 400px;
  width: 500px;
  height: 20px;

}

mat-form-field{
  max-width: 450px;
  width: 500px;
  height: 20px;
}
