form {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.add-form {
  margin-top: 30px;
  margin-bottom: 40px;
  background-color: white;
  width: 900px;
  border: solid 1px #ccc;
}

.add-form-wrapper {
  display: flex;
  justify-content: center;
}

.input-wrapper {
  display: flex;
  justify-content: space-around;
}

app-task-input {
  width: 200px
}

button {
  margin-right: 25px;
  margin-top: 15px;
  width: 15%;
  border-radius: 10px;
}

.description {
  vertical-align: center;
  width: 500px;
  height: 40px;
  margin-bottom: 5px;
}

.validation {
  color: red;
}

.description-wrapper {
  margin-left: 10px;
  margin-top: 5px;
}

.name-wrapper {
  margin-left: 20px;
}
