.todos{
  display: flex;
  background-color: white;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  padding-bottom: 7px;
}

.todo-active-items{
  display: flex;
  flex-direction: column-reverse;
}

todo-complete-items{
  display: flex;
  flex-direction: column-reverse;
}

.loading{
  text-align: center;
}




