<div class="tasks-wrapper">
  <app-add-task (onAdd)="addTask($event)"></app-add-task>

  <div class="all-tasks">
    <div cdkDropListGroup>
      <div class="tasks-container active-tasks">
        <h2>Active tasks</h2>
        <div
          cdkDropList
          (cdkDropListEntered)="changeCompleteProperty($event)"
          [cdkDropListData]="activeTasks"
          class="tasks"
          (cdkDropListDropped)="drop($event)">
          <app-task
            @appearance
            class="task"
            *ngFor="let item of activeTasks"
            cdkDrag
            [cdkDragData]="item"
            (onRemove)="deleteTask($event)"
            (completeData)="completeTask($event)"
            [(complete)]=item.complete
            [date]="item.date"
            [name]="item.name"
            [id]="item.id"
            [description]="item.description"
          >{{item}}</app-task>
        </div>
      </div>

      <div class="tasks-container complited-tasks">
        <h2>Complited tasks</h2>
        <div
          cdkDropList
          [cdkDropListData]="complitedTasks"
          class="tasks"
          (cdkDropListEntered)="changeCompleteProperty($event)"
          (cdkDropListDropped)="drop($event)">
          <app-task
            @appearance
            class="task"
            *ngFor="let item of complitedTasks"
            cdkDrag
            [cdkDragData]="item"
            (onRemove)="deleteTask($event)"
            (completeData)="completeTask($event)"
            [(complete)]=item.complete
            [date]="item.date"
            [name]="item.name"
            [id]="item.id"
            [description]="item.description"
          >{{item}}</app-task>
        </div>
      </div>
    </div>
  </div>

</div>
--------------------------------------------------------------------------------------------------------------
<button (click)="test(321)">CLICL</button>
<div>
  {{activeT$ | async}}
</div>

