.tasks-container {
  width: 700px;
  max-width: 100%;
  margin: 0 25px 25px 0;
  display: inline-block;
  vertical-align: top;
}

.tasks {
  border: solid 1px #ccc;
  min-height: 60px;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  display: block;
}

.task {
  padding: 10px 10px 10px 20px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.tasks-wrapper {
  display: flex;
  flex-direction: column;
  width: 1450px;

}

.all-tasks {
  display: flex;
  justify-content: space-around;
}

.active-tasks {

}

.complited-tasks {
 margin-right: 0;
}

h2 {
  text-align: center;
}

/*Responsive*/


/* 992px - 1200px */
@media screen and (max-width: 1200px) {
  .tasks-wrapper{
    width: 960px;
  }
  .tasks-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
  }
}

/* 768px - 992px */
@media screen and (max-width: 992px) {
  .tasks-wrapper{
    width: 734px;
  }
  .tasks-container{
    margin: 0;
  }

}

/* 576px - 768px */
@media screen and (max-width: 768px) {
  .tasks-wrapper{
    width: 544px;
  }
  .tasks-container{
    max-width: 530px;
    width: 530px;
    margin: 0;
  }
  .all-tasks{

  }
}

/* 320px - 576px */
@media screen and (max-width: 576px) {
  .tasks-wrapper{
    width: 288px;
  }
  .tasks-container{
    max-width: 274px;
    width: 274px;
    margin: 0;
  }
}
