div{
  display: flex;
  justify-content: flex-end;
  background-color: white;
  height: 80px;
  align-items: center;
}

button{
  margin-right: 30px;
  height: 30px;
  width: 10%;
  background: #fff;
  color: #333;
  border: #ccc solid 1px;
}
