<div>
  <div class="container">
    <div class="buttons" >
      <button class="lng-btn" mat-flat-button (click)="changeLanguage()">
        <mat-icon>language</mat-icon>
        {{language}}
      </button>
      <button *ngIf="!!this.auth.fbToken"  class="lng-btn" mat-flat-button (click)="theme()">
        {{'Header.Theme' | translate}}
      </button>
    </div>
    <button  mat-flat-button color="primary"  class="logout-btn" *ngIf="!!this.auth.fbToken" (click)="logOut()">
      <mat-icon>logout</mat-icon>
      {{'Header.Logout' | translate}}
    </button>
  </div>
</div>
