
.auth{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  margin: 0 auto;
}

form{
  display: flex;
  flex-direction: column;
}

.form-item{
  margin-top: 8px;
  height: 30px;
}

p{
  margin-top: 10px;
  margin-bottom: 0px;
}
