<div class="auth">
  <p>Sign up</p>
  <form [formGroup]="signUpForm" (ngSubmit)="submit()">
    <div class="error" *ngIf="auth.error$ | async as error">
      {{error}}
    </div>
    <div class="error" *ngIf="notMatchPasswords">
      Passwords don't match
    </div>
    <div class="form-item" >
      <app-auth-input formControlName="email" place = "Email..." type="email"></app-auth-input>
    </div>
    <div class="form-item" >
      <app-auth-input class="form-item" formControlName="password" place = "Password..." type="password"></app-auth-input>
    </div>
    <div class="form-item" >
      <app-auth-input class="form-item" formControlName="repeatPassword" place = "Repeat password..." type="password"></app-auth-input>
    </div>
    <div class="submit-btn-wrapper">
      <button class="submit-btn" type="submit" [disabled]="signUpForm.invalid">Sign up</button>
    </div>
  </form>
  <button class="form-item" (click)="changeSighType()" >I am have an account</button>
</div>
