<div class="auth-wrapper">
  <div class="auth">
    <p class="page-title">{{'Sign up.TITLE' | translate}}</p>
    <div class="error">
      <p type="danger" *ngIf="authService.error$ | async as error" >{{ error }}</p>
      <p type="danger" *ngIf="notMatchPasswords" >Passwords don't match</p>
    </div>

    <div class="form-wrapper">
      <form [formGroup]="signUpForm" (ngSubmit)="submit()">
        <div class="authError">
        </div>
        <div class="form-item">
          <app-auth-input formControlName="email" place="Email..." type="email"></app-auth-input>
        </div>
        <div class="form-item">
          <app-auth-input class="form-item" formControlName="password" place="Password..."
                          type="password"></app-auth-input>
        </div>
        <div class="form-item">
          <app-auth-input class="form-item" formControlName="repeatPassword" place="Repeat password..."
                          type="repeatPassword"></app-auth-input>
        </div>
        <div class="submit-btn-wrapper">
          <button mat-flat-button color="primary" class="submit-btn btn btn-primary" type="submit" [disabled]="signUpForm.invalid">{{'Sign up.Sign up button' | translate}}</button>
        </div>
      </form>
    </div>
    <div class="form-wrapper">
      <button mat-flat-button color="primary" class="form-item change-type-btn btn btn-secondary" (click)="changeSighType()">{{'Sign up.Have button' | translate}}
      </button>
    </div>

  </div>
</div>
