.task {
  display: flex;
  width: 550px;
  justify-content: space-around;
  align-items: center;
  margin-top: 3px;
  margin-bottom: 3px;
  border: solid 1px black;
}

.title{
  width: 60%;
}

button{
  width: 15%;
  background: #fff;
  color: #333;
  border: #ccc solid 1px;
}

.date{
  font-size: 14px;
}

.task-item{
  margin: 5px;
  display: flex;
  align-items: center;
}

.complited{
  opacity: 50%;
}
