<div class="task-wrapper">
  <div class="task">
    <mat-accordion>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <span>
            <div class="task-data">
               <mat-panel-title [class.complited]="complete">
                 <div class="title-wrapper">
                    {{this.name}}
                 </div>
                 <div class="date-wrapper">
                   <p class="date task-item">{{this.date | date:'d/M/yy, h:mm'}}</p>
                 </div>

               </mat-panel-title>
            </div>

            <div class="controls">
              <button mat-fab class="btn-delete" (click)="taskRemove()">
              <mat-icon>delete</mat-icon>
            </button>
          <button mat-fab class="btn-edit " (click)="taskEdit()">
              <mat-icon>edit</mat-icon>
            </button>
            <mat-checkbox class="task-item check" (change)="taskChecked()" [checked]="complete"></mat-checkbox>
            </div>
          </span>
        </mat-expansion-panel-header>
        <div>
          <p class="description" [class.complited]="complete">{{this.description}}</p>
        </div>

      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>


