

.container{
  width: 1450px;
  margin: 0 auto;

}


/* 992px - 1200px */
@media screen and (max-width: 1200px) {
  .container{
    width: 960px;
  }
}

/* 768px - 992px */
@media screen and (max-width: 992px) {
  .container{
    width: 734px;
  }
}

/* 576px - 768px */
@media screen and (max-width: 768px) {
  .container{
    width: 544px;
  }

}

/* 320px - 576px */
@media screen and (max-width: 576px) {
  .container{
    width: 288px;
  }
}
