<input [formControl]="authControl" [type]="type" [placeholder]="place" >
<div class="validation"  *ngIf="authControl?.touched && authControl?.invalid">
  <div *ngIf="type=='email'">
    <small *ngIf="authControl.errors?.required">
      Enter your email
    </small>
    <small *ngIf="authControl.errors?.email">
      This input is should be email
    </small>
  </div>
  <div *ngIf="type=='password' && place=='Password...'">
    <small *ngIf="authControl.errors?.required">
      Enter your password
    </small>
    <small *ngIf="authControl.errors?.minlength">
      Password should be at least 6 characters
    </small>
  </div>
  <div *ngIf="type=='password' && place=='Repeat password...'">
    <small *ngIf="authControl.errors?.required">
      Enter your password
    </small>
    <small *ngIf="authControl.errors?.minlength">
      Password should be at least 6 characters
    </small>
  </div>
</div>


